[submodule "lib/packs/dev-pack/lib/auto-complete"]
	path = lib/packs/dev-pack/lib/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "lib/packs/dev-pack/lib/fuzzy-el"]
	path = lib/packs/dev-pack/lib/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "lib/packs/dev-pack/lib/popup-el"]
	path = lib/packs/dev-pack/lib/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "lib/packs/dev-pack/lib/magit"]
	path = lib/packs/dev-pack/lib/magit
	url = https://github.com/magit/magit.git
[submodule "lib/packs/dev-pack/lib/yasnippet"]
	path = lib/packs/dev-pack/lib/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "lib/packs/dev-pack/lib/auto-complete-clang"]
	path = lib/packs/dev-pack/lib/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
