[submodule "lib/packs/dev-pack/lib/auto-complete"]
	path = lib/packs/dev-pack/lib/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "lib/packs/dev-pack/lib/fuzzy-el"]
	path = lib/packs/dev-pack/lib/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "lib/packs/dev-pack/lib/popup-el"]
	path = lib/packs/dev-pack/lib/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "lib/packs/dev-pack/lib/magit"]
	path = lib/packs/dev-pack/lib/magit
	url = https://github.com/magit/magit.git
[submodule "lib/packs/dev-pack/lib/yasnippet"]
	path = lib/packs/dev-pack/lib/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "lib/packs/dev-pack/lib/auto-complete-clang"]
	path = lib/packs/dev-pack/lib/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "lib/packs/lang-pack/lib/clojure-mode"]
	path = lib/packs/lang-pack/lib/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "lib/packs/lang-pack/lib/nrepl"]
	path = lib/packs/lang-pack/lib/nrepl
	url = https://github.com/kingtim/nrepl.el.git
[submodule "lib/packs/dev-pack/lib/rainbow-delimiters"]
	path = lib/packs/dev-pack/lib/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "lib/packs/dev-pack/lib/eproject"]
	path = lib/packs/dev-pack/lib/eproject
	url = https://github.com/jrockway/eproject.git
[submodule "lib/packs/lang-pack/lib/tuareg"]
	path = lib/packs/lang-pack/lib/tuareg
	url = https://github.com/emacsmirror/tuareg.git
[submodule "lib/packs/reasoning-pack/lib/proofgeneral"]
	path = lib/packs/reasoning-pack/lib/proofgeneral
	url = https://github.com/emacsmirror/proofgeneral.git
[submodule "lib/packs/game-pack/lib/2048"]
	path = lib/packs/game-pack/lib/2048
	url = https://github.com/sprang/emacs-2048
[submodule "lib/packs/lang-pack/lib/markdown-mode"]
	path = lib/packs/lang-pack/lib/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "lib/packs/lang-pack/lib/lua-mode"]
	path = lib/packs/lang-pack/lib/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "lib/packs/lang-pack/lib/rust-mode"]
	path = lib/packs/lang-pack/lib/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "lib/packs/dev-pack/lib/git-modes"]
	path = lib/packs/dev-pack/lib/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "lib/packs/system-pack/lib/use-package"]
	path = lib/packs/system-pack/lib/use-package
	url = https://github.com/jwiegley/use-package.git
